.content{
    display: flex;
}

.cont-cal{
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: aqua;
    width: 50%;
}

    .div1 { grid-area: input; }
    .div2 { grid-area: line1; }
    .div3 { grid-area: line2; }
    .div4 { grid-area: line3; }
    .div5 { grid-area: line4; }
    .div6 { grid-area: line5; }
    .div7 { grid-area: line6; }
    .div8 { grid-area: line7; }

    .cc_grid{
        width: 300px;
        position: absolute;
        display: grid;
        grid-template-areas:
        'input input input input input'
        'line1 line1 line1 line1 line1'
        'line2 line2 line2 line2 line2'
        'line3 line3 line3 line3 line3'
        'line4 line4 line4 line4 line4'
        'line5 line5 line5 line5 line7'
        'line6 line6 line6 line6 line7';
        gap: 10px;
        background-color: rgba(red, green, blue, 1);
        padding: 10px;
    }
    .cc_grid div{
        background-color: chartreuse;
    }

.cont-result{
    background-color: blueviolet;
    width: 50%;
}